.header {
    position: relative;
    z-index: 2;
    padding-top: 6rem;
    padding-left: 6rem;
    padding-bottom: 0;
    overflow: hidden;
}

.header > h1 {
    margin-bottom: 0;
}

.header > p {
    padding-left: 1rem;
    max-width: fit-content;
    z-index: 3;
    background-color: rgba(232, 232, 232, 0.65);
}

#globe {
    position: absolute;
    top: 0rem;
    right: 5rem;
    width: 750px;
    opacity: 1;
    z-index: -1;
    overflow: hidden;
}

.updates {
    position: relative;
    z-index: 2;
    margin-top: 3rem;
    background-color: var(--background);
}

.update-year {
    margin-bottom: 2rem;
    gap: 3rem;
}

.year {
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 0.5rem;
}

.headlines {
    flex: 1;
}

.headline {
    margin-bottom: 2rem;
}

.headline p {
    margin: 0.3rem 0;
    line-height: 1.4;
}

.headline p:first-child {
    font-weight: 500;
}

.headline p:last-child {
    color: #333;
}

/* Mobile responsiveness */
@media (max-width: 600px) {
    .header {
        padding: 3rem 2rem 0 2rem;
    }
    .header > h1 {
        font-size: larger;
    }
    .header > p {
        font-size: small;
        padding-left: 0;
    }
    
    .updates {
        font-size: small;
        padding: 0rem 2rem 0 2rem;
    }
    
    #globe {
        top: 0rem;
        left: 5rem;
    }
    
    .year {
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }
}

