.header {
    position: relative;
    z-index: 2;
    padding-top: 6rem;
    padding-left: 6rem;
    padding-bottom: 0;
    overflow: hidden;
}

.header > h1 {
    margin-bottom: 0;
}

.header > p {
    padding-left: 1rem;
    max-width: fit-content;
    z-index: 3;
    background-color: rgba(232, 232, 232, 0.86);
}

.publications {
    position: relative;
    z-index: 2;
    margin-top: 3rem;
    background-color: var(--background);
}

.publication-year {
    margin-bottom: 4rem;
    gap: 3rem;
}

.year {
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 0.5rem;
}

.papers {
    flex: 1;
}

.paper {
    margin-bottom: 3rem;
}

.paper p {
    margin: 0.3rem 0;
    line-height: 1.4;
}

.paper p:first-child {
    font-weight: 500;
}

.paper p:last-child {
    color: #333;
}

.paper a {
    color: var(--accent);
    margin-right: 1rem;
}

.paper a:hover {
    text-decoration: underline;
}

.paper i {
    margin-right: 0.3rem;
}

/* Mobile responsiveness */
@media (max-width: 600px) {
    .header {
        padding: 3rem 2rem 0 2rem;
    }
    .header > h1 {
        font-size: larger;
    }
    .header > p {
        font-size: small;
        padding-left: 0;
    }
    
    .publications {
        font-size: small;
        padding: 0rem 2rem 0 2rem;
    }
    
    .year {
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }
}
